<nav class="navbar navbar-expand-lg bg-dark bg-dark">
  <div class="container-fluid text-bg-dark">
    <%= link_to admin_signed_in? ? 'Hi ' + current_user.name: 'E Store', user_home_path, class: "navbar-brand text-bg-dark" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-bg-dark"></span>
    </button>
    <div class="collapse navbar-collapse text-bg-dark" id="navbarNavDropdown">
      <ul class="navbar-nav text-bg-dark">
        <li class="nav-item">
          <%= link_to 'Home', user_home_path, class: 'nav-link active text-bg-dark', 'aria-current': 'page' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Categories', categories_path, class: 'nav-link text-bg-dark' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Products', products_path, class: 'nav-link text-bg-dark' %>
        </li>
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Users', admin_users_path(1), class: 'nav-link text-bg-dark' %>
          </li>
        <% end %>

        <% if admin_signed_in? or owner_signed_in? %>
          <li class="nav-item">
            <%= link_to 'stores', stores_path, class: 'nav-link text-bg-dark' %>
          </li>

          <!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle text-bg-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--              Stores-->
<!--            </a>-->
<!--            <ul class="dropdown-menu">-->
              <%# nav_stores.each do |store| %>
<!--                <li>-->
                  <%#= link_to store.name.capitalize, user_store_path(store), class: ' dropdown-item mb-1' %>
<!--                </li>-->
              <%# end %>
<!--              <li>-->
                <%#= link_to 'show all stores', user_stores_path, class: ' dropdown-item border-top text-center' %>
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
        <% end %>
        <li class="nav-item">
        </li>
      </ul>
    </div>
    <div class="pe-3">
      <% if customer_signed_in? or !user_signed_in? %>
        <%= link_to 'Cart', cart_path, class: 'nav-link' %>
      <% end %>
    </div>
    <div class="pe-3">

      <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class: 'nav-link' %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
      <% end %>
    </div>
  </div>
</nav>